@mixin container {
  width: 100%;
  padding-left: 135px;
  padding-right: 135px;
}

@mixin retina {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}
