$maincolor: #333333;
$backgroundcolor: #ffffff;
$backgroundcolor1: #fbfbfb;
$backgroundcolor2:#f3f3f3;
$backgroundcolor3:#2c2c2c;
$backgroundcolor4:#f9f9f9;
$backgroundcolor5:#33333390;
$titlecolor: #bdbdbd;
$textcolor:#000000;
$hovercolor:#ffffff50;
$linecolor:#ffffff10;
$footertext:#c8c8c880;
$bordercolor:#f2f2f2;
