@import '../../assets/styles/utils/vars';


.wrapper {
    margin-bottom: 120px;
}
.title {
  font-size: 64px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0em;

  color: $titlecolor;

  margin-bottom: 60px;
}

.task_block__wrapper{
    display: flex;
    justify-content: space-between;
}
.task_block{
    display: flex;
    
}
.task_block__number{
    display: flex;
    align-items: center;
    height: 144px;

    font-family: "SFProDisplay";
    font-size: 200px;
    font-weight: 900;
    line-height: 239px;
    letter-spacing: 0em;

    color: $bordercolor;

    margin-right: 30px;
    
}
.task_block__desc1,
.task_block__desc2{
    max-width: 420px;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0em;

    color: $maincolor;    
}
.task_block__desc1{
    width: 279px;
}
.task_block__desc2{
    width: 420px;
}