@import '../../assets/styles/utils/vars';

.wrapper {
  margin-bottom: 120px;
}
.project_title {
  font-size: 64px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0em;

  color: $titlecolor;

  margin-bottom: 60px;
}
.project_image__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  margin-bottom: 30px;
}
.test:hover {
  color:$titlecolor;
  cursor: pointer;
}
.project_image__item {
  position: relative;
}
.backdrop {
  position: absolute;
  display: flex;

  width: 100%;
  height: 100%;

  background-color: $backgroundcolor5;
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}
.backdrop_textblock {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.backdrop_title {
  font-size: 1.9em;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;

  margin-bottom: 8px;
  color:$backgroundcolor;
}

.backdrop_link {
  display: flex;
  align-items: center;

  font-family: "GothicA1";
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.2em;

  color: $backgroundcolor;
}
.backdrop_svg {
  fill: $backgroundcolor;
  margin-left: 12px;
}
.button_wrapper {
  display: flex;
  justify-content: flex-end;
}
