@import '../../assets/styles/utils/vars';

.button {  
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 227px;
    height: 71px;
  
    background-color: $backgroundcolor;

    border: none;
  
    cursor: pointer;
  }
  .button_title {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
  
    margin-right: 12px;

    color:$maincolor;
  }

  .button:hover .button_title {
    margin-right: 20px;
  }