@import "../../assets/styles/utils/vars";

.wrapper {
  display: flex;
  justify-content: space-between;

  margin-bottom: 120px;
}
.image {
  width: 770px;
}
.info_block {
  margin-top: 336px;
}
.navigate_block {
  margin-top: 90px;
}
.navigate_items {
  display: flex;
  align-items: center;
}

.navigate_item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 53px;
  height: 53px;

  border: 1px solid $bordercolor;
  background-color: $backgroundcolor4;

  cursor: pointer;

  &:hover,
  &:focus{
    border: 1px solid $backgroundcolor3;
  }
}
.navigate_item__rotation {
  transform: rotate(180deg);

  margin-right: 23px;
  background-color: $backgroundcolor;
}
.navigate_line {
  width: 271px;
  height: 1px;
  background-color: $bordercolor;
}
.navigate_info {
  display: flex;
  align-items: center;

  margin-top: 90px;
}
.navigate_info__item {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0em;

  color: $titlecolor;
}
.navigate_line.rotation {
  width: 43.82px;
  transform: rotate(-45deg);
}
.image_wrapper {
  position: relative;
}
.button_wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
}
.info_block__title {
  font-size: 64px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0em;

  color: $titlecolor;
}
.info_block__span{
font-size: 64px;
font-weight: 700;
line-height: 64px;
letter-spacing: 0em;

color: $maincolor;

}