@import '../../assets/styles/utils/vars';

.form {
  width: 391px;
}
.form_label {
  display: flex;
}
.from_checkbox__text {
  display: block;
  width: 331px;

  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: $maincolor;

  padding-left: 10px;
}
.form_input {
  width: 391px;
  height: 46px;
  border: none;
  padding: 14px 21px;
  margin-bottom: 10px;

  background-color: $backgroundcolor2;
}
.form_textarea {
  width: 391px;
  height: 147px;
  border: none;
  padding: 14px 21px;
  margin-bottom: 22px;
  resize: none;
  background-color: $backgroundcolor2;
}
.form_checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.form_checked__svg {
  display: none;
  position: absolute;
  top: 7px;
  left: 3px;
}
.form_label__checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-bottom: 21px;
  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    border: solid 1px $maincolor;
    border-radius: 5px;
    background-size: 24px 24px;
  }
}
.form_checkbox:checked ~ .form_checked__svg {
  display: block;
}
