@import "../../assets/styles/utils/mixins";

.wrapper {
  @include container;
  
  display: flex;
  align-items: center;
}
.image {
  margin-right: 330px;
  padding-top: 30px;
  padding-bottom: 30px;
  cursor: pointer;
}
