@import '../../assets/styles/utils/vars';

.wrapper {
  margin-bottom: 120px;
}
.contactus_title {
  font-size: 64px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0em;

  color: $titlecolor;

  margin-bottom: 22px;
}
.blocks_wrapper{
  display: flex;
  gap: 30px;
}