.wrapper {
  margin-bottom: 120px;
}
.contactus_title {
  font-family: TT Hoves;
  font-size: 64px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: 0em;

  color: #bdbdbd;

  margin-bottom: 22px;
}
.blocks_wrapper{
  display: flex;
  gap: 30px;
}